*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:"Poppins",Arial,sans-serif;

}



body{


min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:20px;


background:

linear-gradient(135deg,#667eea,#764ba2);


transition:0.4s;


}




.container{


width:100%;

max-width:500px;


padding:25px;


border-radius:25px;


background:

rgba(255,255,255,0.15);


backdrop-filter:

blur(15px);


box-shadow:

0 10px 35px rgba(0,0,0,0.3);


color:white;


}




h1{


text-align:center;

margin-bottom:25px;

font-size:30px;


}



h2{


margin-top:25px;

margin-bottom:12px;


}




.calculator{


padding:20px;


border-radius:20px;


background:

rgba(255,255,255,0.2);


}




#display{


width:100%;


height:70px;


border:none;


outline:none;


border-radius:15px;


padding:15px;


font-size:28px;


text-align:right;


background:white;


color:#222;


margin-bottom:15px;


}





.buttons{


display:grid;


grid-template-columns:repeat(4,1fr);


gap:10px;


}





button{


width:100%;


height:50px;


border:none;


border-radius:12px;


cursor:pointer;


font-size:17px;


background:white;


color:#333;


transition:0.3s;


box-shadow:

0 5px 15px rgba(0,0,0,0.2);


}



button:hover{


transform:scale(1.05);


background:#eeeeee;


}



button:active{


transform:scale(0.95);


}





.memory{


display:grid;


grid-template-columns:repeat(4,1fr);


gap:10px;


margin-top:15px;


}





input,select{


width:100%;


padding:12px;


margin:7px 0;


border:none;


outline:none;


border-radius:12px;


font-size:16px;


}





.converter,
.assistant{


background:

rgba(255,255,255,0.2);


padding:15px;


border-radius:18px;


}





#history{


list-style:none;


max-height:180px;


overflow:auto;


padding:0;


}





#history li{


background:

rgba(255,255,255,0.2);


padding:10px;


margin:6px 0;


border-radius:10px;


}





.dashboard{


display:grid;


grid-template-columns:repeat(3,1fr);


gap:10px;


}





.card{


padding:15px;


border-radius:15px;


text-align:center;


background:

rgba(255,255,255,0.2);


}





.card h3{


font-size:22px;


}




.dark{


background:

linear-gradient(135deg,#111827,#000);


}




.dark .container{


background:

rgba(0,0,0,0.35);


}



.dark button{


background:#222;


color:white;


}



.dark input,
.dark select,
.dark #display{


background:#111;


color:white;


}





.calculator,
.converter,
.assistant,
.card{


animation:

slide 0.5s ease;


}





@keyframes slide{


from{


opacity:0;


transform:translateY(30px);


}



to{


opacity:1;


transform:translateY(0);


}


}





button{


animation:

pop 0.2s ease;


}



@keyframes pop{


from{


transform:scale(0.8);


}



to{


transform:scale(1);


}


}





@media(max-width:500px){


.container{


padding:15px;


}



h1{


font-size:23px;


}



button{


height:45px;


font-size:15px;


}



.dashboard{


grid-template-columns:1fr;


}



}